{% extends 'base.html' %}
{% block content %}
  <div class="container-sm justify-content-center text-center" style="height: 100%; padding-bottom: 500px; padding-top: 150px;">
    <h1 style="font-size: 70px; font-weight: 10;"> How does this make you feel? </h1>
    <h2 style="margin-bottom: -40px; font-weight: 50;"> {{city}}</h2>       
    <div class="row justify-content-center text-center" style="bottom-padding: none;">
      {% if icon == '01d' %}
        <i class="fas fa-sun" style="font-size: 50px; margin: 10px;"></i>
      {% elif icon == '01n' %}
        <i class="fas fa-moon" style="font-size: 50px; margin: 10px;"></i>
      {% elif icon == '02d' %}
        <i class="fas fa-cloud-sun" style="font-size: 50px; margin: 10px;"></i>
      {% elif icon == '02n' %}
        <i class="fas fa-cloud-moon" style="font-size: 50px; margin: 10px;"></i>
      {% elif icon == '03d' or icon == '03n' %}
        <i class="fas fa-cloud" style="font-size: 50px; margin: 10px;"></i>
      {% elif icon == '04d' or icon == '04n' %}
        <i class="fas fa-cloud" style="font-size: 50px; margin: 10px;"></i>
      {% elif icon == '09d' or icon == '09n' %}   
        <i class="fas fa-cloud-showers-heavy" style="font-size: 50px; margin: 10px;"></i>
      {% elif icon == '10d' or icon == '10n' %}   
        <i class="fas fa-cloud-showers-heavy" style="font-size: 50px; margin: 10px;"></i>
      {% elif icon == '11d' or icon == '11n' %}   
        <i class="fas fa-bolt" style="font-size: 50px; margin: 10px;"></i>
      {% elif icon == '13d' or icon == '13n' %}   
        <i class="fas fa-snowflake" style="font-size: 50px; margin: 10px;"></i>
      {% elif icon == '13d' or icon == '13n' %}   
        <i class="fas fa-snowflake" style="font-size: 50px; margin: 10px;"></i>
      {% elif icon == '50d' or icon == '50n' %}   
        <i class="fas fa-wind" style="font-size: 50px; margin: 10px;"></i>
      {% endif %}
      <h1 style="font-size: 200px; font-weight: 1;">{{temp}}&#176;</h1>
    </div>
    <p style="margin-top: -40px; font-weight: 50; color: white;"> {{description}} </p> 
    <div class="row container justify-content-center text-center" style="padding-top: 25px;">
        <a href="/record-sample/{{ city }}/{{ temp }}/{{ description }}/happy"><i class="fas fa-smile" style="font-size: 80px; margin: 20px;"></i></a>
        <a href="/record-sample/{{ city }}/{{ temp }}/{{ description }}/neutral"><i class="fas fa-meh-blank" style="font-size: 80px; margin: 20px;"></i></a>
        <a href="/record-sample/{{ city }}/{{ temp }}/{{ description }}/mad"><i class="fas fa-angry" style="font-size: 80px; margin: 20px;"></i></a>
        <a href="/record-sample/{{ city }}/{{ temp }}/{{ description }}/sad"><i class="fas fa-sad-tear" style="font-size: 80px; margin: 20px;"></i></a>
      </div>
{% endblock%}